/* Table styling */
.container {
  max-width: 900px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.mat-icon {
  vertical-align: middle;
}

.table th {
  font-weight: bold;
  color: #555;
}

.text-success {
  font-size: 1.5rem;
}

.upload-label {
  cursor: pointer;
}
